<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bot Maker</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="../css/dashboard.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/">Botmaker</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
        data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <%- include("subviews/sidebar-menu", {
            command_names: command_names,
            current_command: typeof current_command == 'undefined' ? "" : current_command,
            page_type: page_type
          }) %>
        </nav>

        <div class="col-md-9 ml-sm-auto col-lg-10">
          <%if(page_type == "commands"){ %>
            <%- include("subviews/editor-canvas") %>
          <% } %>
        </div>
      </div>
    </div>

    <%if(page_type == "commands"){ %>
      <%- include("subviews/blocks-import") %>
    <% } %>
  </body>
</html>