.edit-panel-holder{
	height: 600px;
	background-color: #ededed;
	padding: 10px;

	border: 1px solid #CCC;
	border-left: 0;
}

.block-editor-title{
	font-size: 1.25rem;
	font-weight: 600;
}