<div class="jtk-main">
  <div class="row">
    <div class="col-9 px-0">
      <div class="jtk-canvas canvas-wide statemachine jtk-surface jtk-surface-nopan" id="canvas"></div>
    </div>
    <div class="col-3 px-0">
      <div class="edit-panel-holder">
        <span class="block-editor-title">Block Editor</span>
        <hr />
        <div class="edit-panel" id="edit-panel"></div>
      </div>
    </div>
  </div>

  <br />
  <input type="button" class="btn btn-outline-dark" id="add-send-message" value="Add 'Send Message'">
  <input type="button" class="btn btn-outline-dark" id="add-if-statement" value="Add 'If Statement'">
  <input type="button" class="btn btn-outline-dark" id="add-on-ready" value="Add 'On Ready'">
  <input type="button" class="btn btn-outline-dark" id="add-set-var" value="Add 'Set Var'">
  <input type="button" class="btn btn-outline-dark" id="add-set-channel" value="Add 'Set Channel'">

  <br /><br />
  <input type="button" class="btn btn-success" id="generate-code" value="Parse into Json">

  <br />
  <div id="json-output"></div>
</div>